html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(69, 91, 163);
  background: linear-gradient(
    39deg,
    rgba(69, 91, 163, 1) 21%,
    rgba(218, 77, 77, 1) 64%
  );
  background-repeat: no-repeat;
  font-family: monospace;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: aliceblue;
}

.title {
  text-align: center;
  color: aliceblue;
  font-size: 8.6rem;
  font-family: "Caveat", cursive;
  margin-bottom: 8.6rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 3.2rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 15px 1px rgba(66, 68, 90, 1);
}

.password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.4rem;
  gap: 1.6rem;
  margin-bottom: 3.6rem;
}

.password__input {
  border-radius: 0.6rem;
  font-size: 2.4rem;
  width: 64rem;
  text-align: center;
}

.password__info {
  visibility: hidden;
  color: rgba(218, 217, 222, 0.629);
  margin: 0;
  text-align: center;
}

.cipher-btn {
  font-size: 2.4rem;
  background-color: rgb(229, 255, 205);
  border: none;
  border-radius: 0.6rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cipher-btn:hover {
  background-color: rgb(175, 234, 120);
}

.cipher-btn:active {
  background-color: rgb(97, 160, 37);
}

.new-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.4rem;
  width: 100%;
}

.new-password__discription {
  width: 100%;
  text-align: center;
  padding-left: 5rem;
}

.toggle-btn {
  visibility: hidden;
  text-align: end;
  font-size: 2.4rem;
  width: 4rem;
  background-color: transparent;
  border: none;
  color: rgba(58, 56, 65, 0.629);
  cursor: pointer;
}

.new-password__value {
  font-size: 4.2rem;
  margin: 0;
  padding: 0.8rem;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.22);
  width: 100%;
  height: 6.6rem;
  text-align: center;
}

@media (max-width: 600px) {
  html {
    font-size: 30%;
  }
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    max-width: 60rem;
  }

  .password__input {
    max-width: 55rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 40%;
  }
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title {
    margin-top: 1rem;
  }
}
